body {
    background-color: green;
    }

.top {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.linkZone {
    background-color: black;
    color: gray;
    margin-left: 10px;
    margin-right: 10px
}

.linkZoneLeft {
    display: flex;
    text-align: left;
}
.linkZoneRight {
    text-align: right;
}

.linkBox {
    padding: 10px;
}

.main {
    
}
.article {
    background-color: white;
    margin: 10px;
    padding: 20px;
}
    